/* This is a reset.  Some browsers automatically add styling to their elements.
This gets rid of all that noise */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* We want 10 px to make rem easy. Default browser font size is 16. 10/16 = 62.5%  
    This is so the user can still set their own font size w/o us messing it up */
    @include respond(tab-land) {
        font-size: 56.25%;  //1rem = 9px
    }

    @include respond(tab-port) {
        font-size: 50%;  //1rem = 8px
    }

    @include respond(big-desktop) {
        font-size: 75%;  //1rem = 12px
    }
}

/* Font properties are added in the body because the properties related to font are usually inherited */
body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0rem;
    }
}